table{
    border: 1px solid black;
    width: 100%;
}

table thead{
    font-weight: bold;
    text-align: center;
}

table td{
    border: 1px solid #7f7f7f;
    padding-left: 15px;
    padding-right: 15px;
}

table tbody{
    text-align: left;
    vertical-align: center;
}